# Dependencies
node_modules/

# Build outputs
target/
dist/
build/

# Environment variables & secrets
.env
.env.local
*.key
application-local.properties

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

